@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #f6f7fa;
  --color-orange: #f77f00;
  --color-dark-orange: #f45d01;
  --color-more-dark-orange: #e75b28;
  --color-light-orange: #fca311;
  --color-yellow: #ffc107;
  --color-error: red;
  --color-white: white;
}

